.content {
    width: 80%;
    margin: 1.4rem auto auto auto;
}

.mat-mdc-form-field {
  font-size: 14px;
}

button {
    margin-bottom: 1rem;
}

.total {
    margin-left: 26rem;
    font-size: 1rem;

}

.consultas {
  margin-left: 30px;
  color: rgba(196, 105, 31, 0.884);
}

.edit {
  color:  blue;
  margin-top: 10px;
}




