body {
  background-image: linear-gradient(
    45deg, rgb(32, 177, 187), rgb(32, 187, 135)
  );
  background-size: cover;
}

button {
  margin-left: 2%;
}

.content {
  width: 50%;
  margin: 2rem auto auto auto;
}

h1 {
  text-align: center;
  font-family: Poppins,sans-serif;
}

.campo_menor {
  margin-top: 5%;
  font-weight: bold;
}

.delete {
  color: rgb(253, 0, 0);
}
