img {
  display: block;
  margin: 0px auto;
}

.cabecalho {
  text-align: center;
}

.tituloColuna{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 12px;
}

.tableConsulta{
    margin: 0px auto;
}

.button {
    margin-left: 2rem;
}

.botaoImprimir {
  margin-left: 80%;
  margin-right: 3px;
}

.dados_cliente {
  display: flex;
}

.dados_a {
  width: 50%;
  padding-left: 30px;
}

.dados_b {
  width: 50%;
  padding-left: 30px;
}

.dados_c {
  display: flex;
  width: 28%;
  padding-left: 30px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
  background-color: white;
  border-radius: 10px 10px 10px;
}

.assinaturas {
  text-align: center;
}

-- retirar botoes da impresao --
.only-print{
  display: none;
}

@media print{

  .no-print{
    display: none !important;
  }

  .only-print{
    display: block;
  }
}
