.content {
  width: 50%;
  margin: 1.4rem auto auto auto;
  margin-top: 5%;
}

.input_nome {
 margin-left: 10px;
}

h1 {
  text-align: center;
}

button {
  margin-left: 10px;
}

.total {
  color: black;
  margin-left: 80%;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;

}

body {
  background-color: rgb(115, 186, 228);
  background-size: cover;
}
