<body>
  <app-header></app-header>
  <app-footer></app-footer>
  <h1>Adicionar Usuário</h1>
<form>

    <mat-form-field class="campo_maior">
      <mat-label>Nome Completo</mat-label>
      <input matInput [(ngModel)]="usuario.nome"
      type="text"
      name="nome" required/>
    </mat-form-field>

  <mat-form-field class="campo_menor">
    <mat-label>Matrícula</mat-label>
    <input matInput [(ngModel)]="usuario.matricula"
    type="text"
    name="matricula" required/>
  </mat-form-field>

  <mat-form-field class="campo_maior">
    <mat-label>Endereço</mat-label>
    <input
    matInput [(ngModel)]="usuario.endereco"
    type="text"
    name="endereco" required/>
  </mat-form-field>

  <mat-form-field class="campo_menor">
    <mat-label>Telefone</mat-label>
    <input matInput #input maxlength="11" minlength="11" type="number" [(ngModel)]="usuario.telefone" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    name="telefone"
    placeholder="Ex: 12345678901" required/>
  </mat-form-field>

  <mat-form-field class="campo_maior">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="usuario.email"
      type="email"
      name="email"
      placeholder="Ex: meuemail@email.com" required/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
    <mat-label>CPF</mat-label>
    <input matInput #input maxlength="11" minlength="11" type="text" [(ngModel)]="usuario.cpf"
    name="cpf"
    placeholder="Ex: 12345678901" required/>
  </mat-form-field>

  <mat-form-field class="campo_maior">
    <mat-label>Senha</mat-label>
    <input matInput [(ngModel)]="usuario.senha"
    type="password"
    name="senha" required/>
  </mat-form-field>

<mat-form-field class="campo_menor">
  <mat-label>Tipo de Perfil</mat-label>
  <mat-select [(ngModel)]="usuario.tipoPerfil" name="select" required>
    <mat-option *ngFor="let select of tipos" [value]="select.valor">
      {{select.viewValor}}
    </mat-option>
  </mat-select>
</mat-form-field>

 <div class="buttons">
    <button (click)="criarUsuario()" class="mat-elevation-z8" mat-raised-button color="primary">SALVAR</button>
    <button (click)="navegarParaListaUsuarios()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
  </div>
</form>
</body>
