<button
  type="reset"
  (click)="navegarParaListaConsultas()"
  class="button no-print"
  mat-stroked-buttoncolor="warn"
>
  <mat-icon>keyboard_return</mat-icon>
</button>

<button
  class="botaoImprimir no-print"
  onclick="window.print()"
  mat-fab
  extended
  color="primary"
>
  <mat-icon>download</mat-icon> Imprimir
</button>

<div class="container_impressao">
  <div>
    <img src="assets/imagem/estacio-logo.png" alt="" />
  </div>

  <div class="cabecalho">
    <h2>Clínica Estácio</h2>
    <h1>Relatório de Consulta</h1>
  </div>

  <div class="dados_cliente">
    <div class="dados_a">
      <p><strong>Paciente:</strong> {{ cliente.nome }}</p>
      <p><strong>Endereço:</strong> {{ cliente.endereco }}</p>
      <p><strong>E-mail:</strong> {{ cliente.email }}</p>
      <p><strong>Mãe:</strong> {{ cliente.nomeMae }}</p>
      <p><strong>CPF:</strong> {{ cliente.cpf }}</p>
      <p><strong>Gênero:</strong> {{ cliente.sexo }}</p>
    </div>
    <div class="dados_b">
      <p><strong>Data de Nasc.:</strong> {{ cliente.dataNascimento }}</p>
      <p><strong>Cidade:</strong> {{ cliente.cidade }}</p>
      <p><strong>Bairro:</strong> {{ cliente.bairro }}</p>
      <p><strong>Naturalidade:</strong> {{ cliente.naturalidade }}</p>
      <p><strong>Telefone:</strong> {{ cliente.telefone }}</p>
    </div>
  </div>

  <p class="assinaturas"><strong>Data da Consulta:</strong> {{ consulta.dataConsulta }}</p>

  <div class="dados_cliente">
    <div class="dados_c">
      <textarea rows="10" wrap="hard" cols="100" disabled>Diaginostico: {{ consulta.queixas }}</textarea>
    </div>
    <div class="dados_c">
      <textarea rows="10" wrap="hard" cols="100" disabled>Medicação: {{ consulta.plano }}</textarea>
    </div>
    <div class="dados_c">
      <textarea rows="10" wrap="hard" cols="100" disabled>Avaliação Médica: {{ consulta.avaliacao }}</textarea>
    </div>
  </div>
  <div class="dados_cliente">
    <div class="dados_c">
      <textarea rows="10" wrap="hard" cols="100" disabled>Exames: {{ consulta.exames }}</textarea>
    </div>
    <div class="dados_c">
      <textarea rows="10" wrap="hard" cols="100" disabled>Encaminhamento: {{ consulta.encaminhamento }}</textarea>
    </div>
    <div class="dados_c">
      <textarea rows="10" wrap="hard" cols="100" disabled>Observação: {{ consulta.observacao }}</textarea>
    </div>
  </div>

  <div class="assinaturas">
    <p>________________________________________________</p>
    <p>
      Aluno: {{ consulta.nomeAtendente }}, matrícula:{{ consulta.matricula }}
    </p>
    <p>________________________________________________</p>
    <p>Supervisor responsálvel</p>
  </div>
</div>
