<h1></h1>
<form>
  <form>
    <button
      type="reset"
      (click)="navegarParaListaConsultas()"
      class="button no-print"
      mat-stroked-button
      color="warn"
    >
      <mat-icon>keyboard_return</mat-icon>
    </button>

    <button
      class="botaoImprimir no-print"
      onclick="window.print()"
      mat-fab
      extended
      color="primary"
    >
      <mat-icon>download</mat-icon> Imprimir
    </button>
    <div>
      <img src="assets/imagem/estacio-logo.png" alt="" />
    </div>
    <div class="cabecalho">
      <h2>Estácio Clinica</h2>
      <h1>Relatorio de Consulta</h1>
    </div>

  <pre class="centralizar">
    Nome do Paciente:{{ cliente.nome }}  Data de Nascimento: {{ cliente.dataNascimento }}
    Endereço:{{ cliente.endereco }}  Cidade: {{ cliente.cidade }}
    Nome da Mãe:{{ cliente.nomeMae }}  Telefone: {{ cliente.telefone }}
    Email:{{ cliente.email }}  CPF: {{ cliente.cpf }}
    Naturalidade:{{ cliente.naturalidade }}  Sexo: {{ cliente.sexo }}
  </pre>

  <table class="tableConsulta" border="2" >
    <tr class="tituloColuna">
      <td>Queixas</td>
      <td>Plano</td>
      <td>Avaliação</td>
      <td>Encaminhamento</td>
      <td>Observação</td>
    </tr>
    <tr>
      <td>{{ consulta.queixas }}</td>
      <td>{{ consulta.plano }}</td>
      <td>{{ consulta.avaliacao }}</td>
      <td>{{ consulta.encaminhamento }}</td>
      <td>{{ consulta.observacao }}</td>

    </tr>
  </table>

  <div class="centralizar">
    <p>________________________________________________</p>
    <p>{{ consulta.nomeAtendente }}, matrícula:{{ consulta.matricula }}</p>
    <p>________________________________________________</p>
    <p>professor</p>
  </div>
  </form>
</form>

