<app-header></app-header>
<h1></h1>

<form>
  <h2>Deletar Especialidade</h2>
    <mat-form-field class="campo_maior">
      <mat-label>Especialidade</mat-label>
      <input matInput [(ngModel)]="especialidade.valor"
      type="text"
      name="nome"/>
    </mat-form-field>

   <div class="buttons">
      <button (click)="deletarEspecialidade()" class="mat-elevation-z8" mat-raised-button color="warn">Deletar Especialidade</button>
      <button (click)="navegarParaListaEspecialidade()" class="mat-elevation-z8" mat-raised-button color="primary">Cancelar</button>
    </div>
  </form>
