.content {
  width: 80%;
  margin: 1.4rem auto auto auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  margin-left: 5rem;
}

.title {
  text-align: center;
  margin-right: 5rem;
}

button {
  margin-bottom: 1rem;
}

.total {
  margin-left: 30rem;
  font-size: 1rem;

}

.button_Opcoes {
  margin-top: 15px;
}

.consultas {
  color: rgba(196, 105, 31, 0.884);
}

.agenda {
  color: green;
}

.edit {
  color: blue;
}

.delete {
  color: rgb(253, 0, 0);
}
