.content {
  width: 80%;
  margin: 1.4rem auto auto auto;
}

.mat-mdc-form-field {
font-size: 14px;
margin-left: 5rem;
}

h1 {
  text-align: center;
}

button {
  margin-bottom: 1rem;
}

.button_Opcoes {
  margin-top: 15px;
}

.delete {
  color: rgb(253, 0, 0);
}

.edit {
  color: rgb(55, 11, 211);
}

body {
  background-color: rgb(115, 186, 228);
  background-size: cover;
}
