.content {
  width: 50%;
  margin: 1.4rem auto auto auto;
}

h2 {

  margin-top: 3rem;

}

button {
  margin-left: 1rem;
  margin-top: 2rem;
}

.table {
  margin-top: 2rem;
}

.delete {
  color: red;
  margin-left: 1rem;
}
