<mat-toolbar class="header">
  <span>
      <img src="assets/imagem/estacio-logo1.png" alt="">
      <p class="text">Clínica Estácio</p>
  </span>
  <div class="icons">

    <label><mat-icon>person</mat-icon></label>
    <p>{{ nome }}</p>

    <button class="menu" mat-icon-button [matMenuTriggerFor]="opcoes"><mat-icon class="iconeMenu" >menu</mat-icon></button>
    <mat-menu #opcoes="matMenu">
      <button mat-menu-item routerLink="/home/professor"><mat-icon>home</mat-icon>Home</button>
    <button mat-menu-item routerLink="/professor/agenda"><mat-icon>book</mat-icon>Agenda</button>
    <button mat-menu-item routerLink="/professor/update/{{ id }}"><mat-icon>personal</mat-icon>Atualizar Cadastro</button>
    <button mat-menu-item routerLink="/professor/especialidade"><mat-icon>library_books</mat-icon>Especialidade</button>
    <button mat-menu-item routerLink=""><mat-icon>exit_to_app</mat-icon>Sair</button>
    </mat-menu>
  </div>
</mat-toolbar>
