<body>
  <app-header></app-header>
  <app-footer></app-footer>
<h1>Apagar Aluno</h1>

<form>
  <mat-form-field class="campo_menor">
    <mat-label>Matrícula</mat-label>
    <input matInput [(ngModel)]="aluno.matricula"
    type="text"
    name="matricula" disabled/>
  </mat-form-field>

  <mat-form-field class="campo_maior">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="aluno.nome"
    type="text"
    name="nome" disabled/>
  </mat-form-field>

  <mat-form-field class="campo_menor">
    <mat-label>CPF</mat-label>
    <input matInput [(ngModel)]="aluno.cpf"
    type="text"
    name="cpf"
    disabled/>
  </mat-form-field>

  <mat-form-field class="campo_maior">
    <mat-label>Endereço</mat-label>
  <input
  matInput [(ngModel)]="aluno.endereco"
  type="text"
  name="endereco" disabled/>
</mat-form-field>

<mat-form-field class="campo_menor">
  <mat-label>Tipo Perfil</mat-label>
  <input matInput [(ngModel)]="aluno.tipoPerfil"
  type="text"
  name="tipoPerfil"
  disabled/>
</mat-form-field>

<mat-form-field class="campo_menor">
  <mat-label>Curso</mat-label>
  <input matInput [(ngModel)]="aluno.curso"
  type="text"
  name="curso"
  disabled/>
</mat-form-field>

<mat-form-field class="campo_maior">
  <mat-label>E-mail</mat-label>
  <input type="email" matInput [(ngModel)]="aluno.email"
  type="email"
  name="email"
  disabled/>
</mat-form-field>

  <mat-form-field class="campo_menor">
    <mat-label>Senha</mat-label>
    <input matInput [(ngModel)]="aluno.senha"
    type="password"
    name="senha"
    disabled/>
  </mat-form-field>

  <mat-form-field class="campo_menor">
    <mat-label>Telefone</mat-label>
    <input matInput [(ngModel)]="aluno.telefone"
    type="text"
    name="telefone" disabled/>
  </mat-form-field>


  <div class="buttons">
    <button (click)="deletarAluno()" class="mat-elevation-z8" mat-raised-button color="warn">Deletar</button>
    <button (click)="navegarParaListaAlunos()" class="mat-elevation-z8" mat-raised-button color="primary">Cancelar</button>
  </div>
</form>
</body>
