.campo_maior {
  font-weight: bold;
  text-align: center;
  width: 50%;
  margin-left: 1rem;
}

.campo_menor {
  font-weight: bold;
  margin-left: 1rem;
}

h1 {
  text-align: center;
  font-family: Poppins,sans-serif;
}

form {
  margin-left: 20rem;
  width: 60%;
}

.buttons{
  width: 100%;
  text-align: start;
  margin-left: 2rem;
}

button {
  margin-right: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

body {
  background-image: linear-gradient(
      45deg, rgb(32, 177, 187), rgb(32, 187, 135)
    );
  background-size: cover;
}
