<body>
  <app-header></app-header>
  <app-footer></app-footer>
  <h1>Deletar Paciente</h1>
  <form>
    <mat-form-field class="campo_maior">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="cliente.nome"
      type="text"
      name="nome" disabled/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>Data de Nascimento</mat-label>
      <input
      type="date" matInput [(ngModel)]="cliente.dataNascimento"
      type="date"
        name="dataNascimento" disabled/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>Naturalidade</mat-label>
      <input matInput [(ngModel)]="cliente.naturalidade"
      type="text"
      name="naturalidade" disabled/>
    </mat-form-field>

    <mat-form-field class="campo_maior">
      <mat-label>Endereço</mat-label>
      <input
        matInput [(ngModel)]="cliente.endereco"
        type="text"
        name="endereco" disabled/>
      </mat-form-field>

      <mat-form-field class="campo_menor">
      <mat-label>Cidade</mat-label>
      <input matInput [(ngModel)]="cliente.cidade"
      type="text"
      name="cidade" disabled/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>Telefone</mat-label>
      <input type="tel" matInput [(ngModel)]="cliente.telefone"
        type="tel"
        name="telefone"
        placeholder="Ex: 99 99999-9999" disabled/>
      </mat-form-field>

      <mat-form-field class="campo_maior">
      <mat-label>Nome da Mãe</mat-label>
      <input matInput [(ngModel)]="cliente.nomeMae"
      type="text"
      name="nomeMae" disabled/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>CPF</mat-label>
      <input matInput [(ngModel)]="cliente.cpf"
      type="text"
      name="cpf"
      placeholder="Ex: 12345678901" disabled/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>Bairro</mat-label>
      <input matInput [(ngModel)]="cliente.bairro"
      type="text"
      name="cpf"
      placeholder="Ex: 12345678901" disabled/>
    </mat-form-field>

    <mat-form-field class="campo_maior">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="cliente.email"
      type="email"
      name="email"
      placeholder="Ex: clinica@yahoo.com" disabled/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>Sexo</mat-label>
      <input matInput [(ngModel)]="cliente.sexo"
      type="text"
      name="sexo" disabled/>
    </mat-form-field>

    <div class="buttons">
      <button (click)="deletarCliente()" class="mat-elevation-z8" mat-raised-button color="warn">DELETAR</button>
      <button (click)="navegarParaListaClientes()" class="mat-elevation-z8" mat-raised-button color="primary">CANCELAR</button>
    </div>
  </form>
</body>
