.footer {
  position: fixed;
  bottom: 0;
  justify-content: flex-end;
  font-size: 0.8rem;
  font-style: oblique;
  height: 3%;
  background-image: linear-gradient(
    100deg, rgb(32, 177, 187), rgb(32, 187, 135)
  );

}

a{
  text-decoration: none;
  color: black;
}
