
<app-professor-header></app-professor-header>

<mat-card class="home mat-elevation-z4">
  <mat-card-title class="title">Bem vindo! </mat-card-title>
  <mat-card-subtitle class="subtitle">Sistema de Informações Clínicas</mat-card-subtitle>
</mat-card>

<mat-card-title-group class="example-card">
  <img mat-card-image src="assets/imagem/imagemHome_1.png" alt="">
  <img mat-card-image src="assets/imagem/imagemHome_2.png" alt="">
  <img mat-card-image src="assets/imagem/imagemHome_3.png" alt="">
  <img mat-card-image src="assets/imagem/imagemHome_4.png" alt="">
</mat-card-title-group>

<mat-card-title-group class="example-card">
  <img mat-card-image src="assets/imagem/imagemHome_5.jpg" alt="">
  <img mat-card-image src="assets/imagem/imagemHome_6.webp" alt="">
  <img mat-card-image src="assets/imagem/imagemHome_7.jpeg" alt="">
  <img mat-card-image src="assets/imagem/imagemHome_8.jpeg" alt="">
</mat-card-title-group>

<app-footer></app-footer>
