<body>
  <div class="conteudo-login">
    <div class="border-conteudo">
      <form class="conteudo-form">
        <span>
          <img src="assets/imagem/estacio1.png" alt="" />
        </span>
        <div>
          <mat-form-field class="conteudo-form">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email"
              type="email"
              name="email" required/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="conteudo-form">
            <mat-label>Senha</mat-label>
            <input
              matInput
              [(ngModel)]="senha"
              type="password"
              name="senha" required/>
          </mat-form-field>
        </div>
        <div class="example-button-row">
          <button mat-fab extended color="primary" [disabled]="!senha" (click)="submitLogin()">
            <mat-icon>login</mat-icon>
            Logar
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
