<div class="conteudo-login">
  <div>
    <span>
      <img class="conteudo-form" src="assets/imagem/estacio.png" alt="">
    </span>
 <form class="conteudo-form">
    <div>
      <mat-form-field class="conteudo-form" [formGroup]="loginForm">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="conteudo-form" [formGroup]="loginForm">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="senha"  placeholder="123456789">
        <mat-error *ngIf="loginForm.hasError('senha') && !loginForm.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="example-button-row">
      <button mat-fab extended color="primary" [disabled]="!loginForm.valid" (click)="submitLogin()">
        <mat-icon>login</mat-icon>
        Logar
      </button>
    </div>
  </form>
</div>
