<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
<body>
  <div class="conteudo-login">
    <div class="border-conteudo">
      <form class="conteudo-form">
        <span>
          <img src="assets/imagem/estacio-logo1.png" alt="">
        </span>
        <p class="text">Clínica Estácio</p>
        <div>
          <mat-form-field class="conteudo-form">
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]="email"
              type="email"
              name="email" required/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="conteudo-form">
            <mat-label>Senha</mat-label>
            <input
              matInput
              [(ngModel)]="senha"
              [type]="hide ? 'password' : 'text'"
              name="senha" required/>
              <button class="buttonVisibilidadeSenha" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
        </div>
        <div class="example-button-row">
          <button mat-fab extended color="primary" [disabled]="!senha" (click)="submitLogin()">
            <mat-icon>login</mat-icon>
            Logar
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
