img {
  margin: 0px auto;
  height: 100px;
  width: 100px;
}

span {
  display: flex;
  align-items: center;
}

.text{
  font-size: 2rem;
  padding-left: 1%;
  text-align: center;
  font-family: Poppins,sans-serif;
  font-weight: bold;
  color: black;

}

.conteudo-login {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 10%;

}

.border-conteudo {
  width: 90%;
  border: solid 2px #818080;
  padding: 1px 20px;
  margin: 2%;
  box-shadow: 2px 3px 6px black;
  border-radius: 10px;
  background-color: white;
}

.conteudo-form {
  border-radius: 10px;
  color: white;
  box-shadow: 0, 0px 0px rgb(7, 6, 6);
  text-align: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}

.conteudo-form :hover {
  box-shadow: 0, 30px 60px 0 rgb(0, 0, 0);
}


.example-button-row {
  padding-bottom: 2%;
}

body {
  background-image: url("src/assets/imagem/3.jpg");
  background-size: cover;
}

.buttonVisibilidadeSenha {
  color: black;
}
