<app-header></app-header>
<h1></h1>
<form>
  <mat-form-field class="campo_maior">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="fila.nome"
      type="text"
      name="nome"/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>Sala</mat-label>
      <input matInput [(ngModel)]="fila.sala"
      type="text"
      name="sala"/>
    </mat-form-field>

    <div class="buttons">
      <button (click)="criarAgendamento()" class="mat-elevation-z8" mat-raised-button color="primary">ADICIONAR</button>
      <button (click)="navegarParaListaDaFila()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
    </div>
  </form>
