<app-header></app-header>
<app-footer></app-footer>
<h1></h1>
<form>
  <h2>Novo Aluno</h2>

  <mat-form-field class="campo_menor">
    <mat-label>Matrícula *</mat-label>
    <input matInput [(ngModel)]="aluno.matricula"
    type="text"
    name="matricula" />
  </mat-form-field>

  <mat-form-field class="campo_maior">
    <mat-label>Nome *</mat-label>
    <input matInput [(ngModel)]="aluno.nome"
    type="text"
    name="nome" />
  </mat-form-field>

  <mat-form-field class="campo_menor">
  <mat-label>Cpf *</mat-label>
  <input matInput [(ngModel)]="aluno.cpf"
  type="text"
  name="cpf"
  placeholder="Ex: 12345678901"/>
</mat-form-field>

<mat-form-field class="campo_maior">
  <mat-label>Endereço *</mat-label>
  <input
  matInput [(ngModel)]="aluno.endereco"
  type="text"
  name="endereco"/>
</mat-form-field>

<mat-form-field class="campo_menor">
  <mat-label>Tipo de Perfil</mat-label>
  <mat-select [(ngModel)]="aluno.tipoPerfil" name="select">
    <mat-option *ngFor="let select of tipos" [value]="select.valor">
      {{select.viewValor}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="campo_menor">
  <mat-label>Curso</mat-label>
  <mat-select [(ngModel)]="aluno.curso" name="select">
    <mat-option *ngFor="let select of selects" [value]="select.valor">
      {{select.verValor}}
    </mat-option>
  </mat-select>
</mat-form-field>

    <mat-form-field class="campo_maior">
    <mat-label>Email *</mat-label>
    <input type="email" matInput [(ngModel)]="aluno.email"
    type="email"
    name="email"
    placeholder="Ex: clinica@yahoo.com"/>
  </mat-form-field>

  <mat-form-field class="campo_menor">
    <mat-label>Senha *</mat-label>
    <input matInput [(ngModel)]="aluno.senha"
    type="text"
    name="senha"/>
  </mat-form-field>


  <div class="buttons">
    <!-- Botao criar Categoria -->
    <button (click)="criarAluno()" class="mat-elevation-z8" mat-raised-button color="primary">SALVAR</button>
    <button (click)="navegarParaListaAlunos()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
  </div>
</form>

