<body>
  <app-professor-header></app-professor-header>
  <app-footer></app-footer>

  <div class="content">

    <h1>Adicionar Especialidade</h1>

  <mat-form-field class="campo_menor">
    <mat-label><strong>Especialidade</strong></mat-label>
    <input matInput [(ngModel)]="especialidade.valor"
    type="text"
    name="nome" required>
  </mat-form-field>
</div>
<div class="content">
  <button (click)="criarEspecialidade()" class="mat-elevation-z8" mat-raised-button color="primary">Adicionar</button>
  <button routerLink="/professor/especialidade" class="mat-elevation-z8" mat-raised-button color="warn">Voltar</button>
</div>


</body>
