
<app-header></app-header>
<h1></h1>
<form>
  <h2>Novo Agendamento</h2>

  <mat-form-field class="campo_maior">
      <mat-label>Nome *</mat-label>
      <input matInput [(ngModel)]="cliente.nome"
      type="text"
      name="nome" />
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>Data *</mat-label>
      <input
        type="date" matInput [(ngModel)]="agenda.data"
        name="data"/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>Telefone *</mat-label>
      <input type="tel" matInput [(ngModel)]="cliente.telefone"
        type="tel"
        name="telefone"
        placeholder="Ex: 99 99999-9999"/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>Cpf </mat-label>
      <input matInput [(ngModel)]="cliente.cpf"
      type="text"
      name="cpf"
      placeholder="Ex: 12345678901"/>
    </mat-form-field>

    <mat-form-field class="campo_menor">
      <mat-label>Especialidade</mat-label>
      <mat-select [(ngModel)]="agenda.especialidade" name="select">
        <mat-option *ngFor="let select of selects" [value]="select.valor">
          {{select.verValor}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="buttons">
      <!-- Botao criar Categoria -->
      <button (click)="criarAgendamento()" class="mat-elevation-z8" mat-raised-button color="primary">SALVAR</button>
      <button (click)="navegarParaListaAgenda()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
    </div>
  </form>
