.campo_maior {
  text-align: center;
  width: 50%;
  margin-left: 2rem;
}

.campo_menor {
  margin-left: 2rem;
}

h2 {
  margin: 2rem;
}

.buttons {
  width: 100%;
  text-align: start;
  margin-left: 2rem;
}

button {
  margin-right: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
