.campo_maior {
  font-weight: bold;
  text-align: center;
  width: 50%;
  margin-left: 2rem;
}

.campo_menor {
  font-weight: bold;
  margin-left: 2rem;
}

h1 {
  text-align: center;
}

.form {
  width: 50%;
}

.buttons {
  width: 100%;
  text-align: start;
  margin-left: 2rem;
}

button {
  margin-right: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

body {
  background-color: rgb(51, 139, 132);
  background-size: cover;
}
