<body>
  <div >
    <h1>CLÍNICA ESTÁCIO</h1>
    <div class="img"></div>
    <h1>PROJETO REALIZADO PELOS ALUNOS DA TURMA DE PROGRAMAÇÃO 2</h1>
    <div class="alunos">
      <p>José Firmino Andrade da Silva</p>
      <p>Luis Henrique José Porto da Silva</p>
      <p>Marcello Machado de Almeida </p>
      <p>Eduardo Felipe Ribeiro da Silva</p>
      <p>Higor Albuquerque Campos de Farias Ramos</p>
      <p>Paulo Roberto de Barros Mendes</p>
      <p>Celio Antônio Fernandes da Silva</p>
    </div>
  </div>
</body>

