<app-header></app-header>
<app-footer></app-footer>
<h1></h1>
<form>
  <form>

<div>
  <label>Nome do Paciente: {{ nome }}</label>
</div>


    <mat-form-field class="campo_menor">
      <mat-label>Matrícula *</mat-label>
      <input matInput [(ngModel)]="consulta.matricula"
      type="text"
      name="matricula" />
    </mat-form-field>

    <mat-form-field class="campo_maior">
      <mat-label>Nome Atendente *</mat-label>
      <input matInput [(ngModel)]="consulta.nomeAtendente"
      type="text"
      name="nomeAtendente" />
    </mat-form-field>

       <mat-form-field class="data">
          <mat-label>Data Consulta</mat-label>
          <input matInput [(ngModel)]="consulta.dataConsulta"
           type="date"
           name="dataConsulta"/>
       </mat-form-field>

       <mat-form-field class="campo_textarea">
            <mat-label>Queixas</mat-label>
            <textarea matInput [(ngModel)]="consulta.queixas"
              type="text"
              name="queixas"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="campo_textarea">
            <mat-label>Plano</mat-label>
            <textarea matInput [(ngModel)]="consulta.plano"
              type="text"
              name="plano"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="campo_textarea">
            <mat-label>Avaliação</mat-label>
            <textarea matInput [(ngModel)]="consulta.avaliacao"
              type="text"
              name="avaliacao"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="campo_textarea">
            <mat-label>Exames</mat-label>
            <textarea matInput [(ngModel)]="consulta.exames"
              type="text"
              name="queixas"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="campo_textarea">
            <mat-label>Encaminhamento</mat-label>
            <textarea matInput [(ngModel)]="consulta.encaminhamento"
              type="text"
              name="encaminhamento"
            ></textarea>
          </mat-form-field>

          <mat-form-field class="campo_textarea">
            <mat-label>Observação</mat-label>
            <textarea matInput [(ngModel)]="consulta.observacao"
              type="text"
              name="observacao"
            ></textarea>
          </mat-form-field>

          <div class="buttons">
            <!-- Botao criar Categoria -->
            <button (click)="criarConsulta()" class="mat-elevation-z8" mat-raised-button color="primary">SALVAR</button>
            <button (click)="navegarParaListaConsultas()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
          </div>

      </form>

  </form>
