.content {
  width: 80%;
  margin: 1.4rem auto auto auto;
}

.button_Aluno {
  margin-left: 20px;
}

.mat-mdc-form-field {
font-size: 14px;
margin-left: 5rem;
}

h1 {
  text-align: center;
  font-family: Poppins,sans-serif;
}

.button_Opcoes {
  margin-top: 15px;
}

button {
  margin-bottom: 1rem;
}

.total {
  margin-left: 30rem;
  font-size: 1rem;
  font-family: Poppins,sans-serif;
}

.delete {
  color: rgb(253, 0, 0);
  margin-left: .50rem;
}

.edit {
  color: rgb(55, 11, 211);
}

body {
  background-image: linear-gradient(
      45deg, rgb(32, 177, 187), rgb(32, 187, 135)
    );
  background-size: cover;
}
